@font-face{
    font-family: "mr";
    src: url('fonts/MISTRAL.TTF')
}
body{
    margin:0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    background: url('images/ethan-hu-590349-unsplash.jpg');
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
.wave1, .wave2, .wave3, .wave4, .wave5, .wave6{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .8);
    border-radius: 50%;
    z-index: 999;
}
.name{
    font-family: mr;
    font-size:  0px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    z-index: 9999;
}
.msg1, .msg2{
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    z-index: 9999;;
}
.msg2{
    letter-spacing: 8px;
    top: 70%;
}
@media(max-width:768px){
    .msg1, .msg2{
        font-size: 20px;
    }
    .msg1{
        letter-spacing: 3px;
    }
    .msg2{
        letter-spacing: 5px;
    }
}